@import './input.scss';
@import "./movieList.scss";
@import "./movie.scss";
@import "./modal.scss";

$red: #D80027;

body {
  margin:0;
  padding:0;
  position: relative;
  font-family: sans-serif;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
    background-color: WhiteSmoke;
    position: block;
    min-height: 100vh;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px;
}

button:focus {
  outline:0;
}

.red-button {
  font-size: 150%;
  padding: 12px 17px;
  background-color: $red;
  color: white;
  border-width: 0px;
  border-radius: 10%;
}

.red-button:hover {
  background-color: darken($red, 5%);
}
