.border-top {
    border-style: double;
    border-width: 0px 0px 6px 0px;
    border-color: white;
}

.border {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(245,245,245);
    border-color: rgba(245,245,245,0.8);
}

header {
    background-image: url(https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center top;
    height: 50vh;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;

    border-style: dotted;
    border-width: 12px;
    border-color: transparent;

    h1 {
      font-size: 400%;
      color: White;
      text-align: center;
      padding-bottom: 1%;
    }

    .lable {
      color: White;
      font-size: 140%;
    }

    .my-row {
      font-size: 150%;
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 1%;
    }
}


.header-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: rgba(55,55,55,0.6);
}

.search-icon {
  width: 1em;
}
