.my-modal {
  font-size: 150%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
  
  .col-sm-8 {
    overflow: scroll
  }
}

.modal-title {
  font-size: 200%;
}

.modal-image {
  padding-bottom: 5%;
}
